body {
    background-color: rgb(3, 3, 57);
    color: white;
}

h1 {
    text-align: center;
}

table {
    display: flex;
    justify-content: center;
}

td, th {
    background-color: grey;
    padding: 10px;
    text-align: center;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:black;
}

.buttonReturn {
    display: flex;
    justify-content: right;
    margin-right: 30vw;
}

.descriptionHeader {
    text-align: center;
}

.descriptionContent {
    padding: 0.5rem;
    outline-style: solid;
    outline-color: yellow;
}
